
/* Hamburger 1 Cross 2 (more Whippet like) */

.bttn {
    height: 1rem;
    width: 1.5rem;
    cursor: pointer;
}

.bttn div {
    height: 1px;
    background: black;
    margin: 6px auto;
    border-radius: 4px;
    transition: all 0.3s;
}

.change .one {
    transform: rotate(45deg) translate(3px, 5px);
    background-color: black;
    height: 2px;
}

.change .two {
    opacity: 0;
}

.change .three {
    transform: rotate(-45deg) translate(6px, -8px);
    background-color: black;
    height: 2px;
} 