

/* Original Menus */
/* Hamburger 1 Cross 2 (more Whippet like) */

/* nav {
    padding: 1rem;
}

.bttn {
    height: 1rem;
    width: 1.5rem;
    cursor: pointer;
}

.bttn div {
    height: 1px;
    background: black;
    margin: 6px auto;
    border-radius: 4px;
    transition: all 0.3s;
}

.change .one {
    transform: rotate(45deg) translate(4px, 6px);
    height: 1px;
}

.change .two {
    opacity: 0;
}

.change .three {
    transform: rotate(-45deg) translate(4px, -6px);
    height: 1px;
}  */

/* @media (min-width: 768px) { */

    /* .bttn div {
        transition: all 0.3s;
    } */
/* } */

/* Totally mine hamburger */

/* .hamburger {
    cursor: pointer;
    width: 24px;
    height: 28px;
    margin: 1rem;
}

.one, .two, .three {
    height: 1px;
    background-color: black;
    margin: 6px 0px;
    border-radius: 3px;
    transition: all 0.3s;
}

.change .one {
    width: 26px;
    transform: translate(-1px, 7px) rotate(45deg);
}

.change .two {
    opacity: 0;
}

.change .three {
    width: 26px;
    transform: translate(-1px, -7px) rotate(-45deg);
} */


/* TEROX Travel Hamburger 2 */

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin: 1rem;
}

.one, .two {
    height: 1px;
    background-color: black;
    margin: 7px auto;
    border-radius: 3px;
    transition: all 1s;
}

.change .one {
    animation: slideInOne 0.5s ease-in-out 0.5s forwards, rotateLineOne 0.5s ease-in-out 2s forwards;
}

.change .two {
    animation: slideInTwo 0.5s ease-in-out 0.5s forwards, rotateLineTwo 0.5s ease-in-out 2s forwards;
}

@keyframes slideInOne {
    from { translate: 0px 0px; }
    to { translate: 0px 4px; }
}

@keyframes rotateLineOne {
    from { rotate: 0deg; }
    to { rotate: 45deg; }
}

@keyframes slideInTwo {
    from { translate: 0px 0px; }
    to { translate: 0px -4px; }   
}

@keyframes rotateLineTwo {
    from { rotate: 0deg; }
    to { rotate: -45deg; }
}