
/* Hamburger 1 Cross 2 (more Whippet like) */

nav {
    padding: 1rem;
}

.bttn {
    height: 1rem;
    width: 1.5rem;
    cursor: pointer;
}

.bttn div {
    height: 1px;
    background: black;
    margin: 6px auto;
    border-radius: 4px;
    transition: all 0.3s;
}

.change .one {
    transform: rotate(45deg) translate(4px, 6px);
    /* background-color: black; */
    height: 1px;
}

.change .two {
    opacity: 0;
}

.change .three {
    transform: rotate(-45deg) translate(4px, -6px);
    /* background-color: black; */
    height: 1px;
} 

@media (min-width: 768px) {

    /* .bttn div {
        transition: all 0.3s;
    } */
}

/* Totally mine hamburger */

/* .hamburger {
    cursor: pointer;
    width: 24px;
    height: 28px;
    margin: 1rem;
}

.one, .two, .three {
    height: 1px;
    background-color: black;
    margin: 6px 0px;
    border-radius: 3px;
    transition: all 0.3s;
}

.change .one {
    width: 26px;
    transform: translate(-1px, 7px) rotate(45deg);
}

.change .two {
    opacity: 0;
}

.change .three {
    width: 26px;
    transform: translate(-1px, -7px) rotate(-45deg);
} */