* {
    box-sizing: border-box;
}

body {
    /* border: 3px solid black; */
}

header {
    /* border: 3px solid plum; */
    padding: 1rem;
    /* transition: all 0.5s ease-out 0.4s; */
    /* transition: all 0.5s; */
    /* background-color: #6375FF; */
}

nav {
    /* border: 3px solid orange; */
    display: flex;
    flex-direction: column;
}

.btn {
    /* border: 3px solid seagreen; */
    height: 28px;
    width: 28px;
    cursor: pointer;
    z-index: 2;
    align-self: flex-end;
}

.btn div {
    height: 5px;
    background: #1450A3;
    /* background: royalblue; */
    margin: 4px auto;
    border-radius: 4px;
    transition: all 0.3s;
}

.change .one {
    transform: rotate(45deg) translate(5px, 5px);
    background-color: white;
}

.change .two {
    opacity: 0;
    background-color: white;
}

.change .three {
    transform: rotate(-45deg) translate(7px, -8px);
    background-color: white;
}

ul {
    /* border: 3px solid mediumblue; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    transition: all 0.5s ease-out 0.4s;
    display: none;
    padding: 1rem;
    letter-spacing: 1px;
}

ul li {
    padding: 0.5rem;
}

ul li a {
    color: white;
    text-decoration: none;
}

header.open {
    background: #6375FF;
    /* background: CornflowerBlue; */
}

ul.open {
    right: 0;
    display: block;
}



@media only screen and (orientation: landscape) {

    header {
        transition: all 0.5s ease-out 0.4s;
    }

    nav {
        flex-direction: row-reverse;
    }

    .btn {
        align-self: center;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: relative;
        right: -100rem;
        width: 50%;
        margin: 0 auto;
    }

    ul.open {
        display: flex;
    }

}